.product-info{
    width: 100%;
    display: flex;
}
.product-info-left, .product-info-right{
    width: 50%;
}
.key-features{
    display: flex;
}
.features-text{
    text-align: left;
    margin-left: 1rem;
}
.feature-info{
    font-size:0.90rem;
    font-weight: 500;
}
.feature-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container2{
    margin-left: 5rem;
}
.about-text{
    width: 80%;
    text-align: justify;
    font-weight: 400;
    line-height: 1.5rem;
}
.product-info-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-product{
    width: 20rem;
}
.snapshot-heading{
    text-align: left;
    margin-left: 5rem;
}
.product-snapshots{
    margin-top: 4rem;
    width: 100%;
    margin-bottom: 2rem;
}
.image-container{
    /* width: 100%; */
    display: flex;
    /* justify-content: space-around; */
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: 0 !important;
    margin-left: 2rem;
    scrollbar-width: none !important;
}
.image-container::-webkit-scrollbar {
    display: none;
    width: 0 !important;
    height: 0 !important;
    -webkit-appearance: none;
    background: transparent;
    scrollbar-width: none;
}

.image-product{
    margin-right: 2rem;
}
.heading{
    text-align: center !important;
}
 